:root {
    --background-color: #1D1F20;
    --text-color: white;
    --body-margin: 60px;
}

body {
    background-color: var(--background-color);
    margin: var(--body-margin);
    color: var(--text-color);
    font-family: Verdana, Geneva, sans-serif, Helvetica, sans-serif;
}

.app-container {
    display: grid;
    grid-template-columns: 26% 50% 24%;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 50px;
    height: calc(100vh - var(--body-margin) - var(--body-margin));
}